.create__post__container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  z-index: 100;
}

.main__Text {
  font-size: 2em;
  font-weight: 700;
  color: rgba(1, 38, 74, 0.88);
}

.main__post__body {
  width: 60%;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.filesInput {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.labels {
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(1, 38, 74, 0.88);
  /* background-color: transparent; */
  border: 1px solid rgba(1, 38, 74, 0.88);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
}

.text__area_input {
  width: 700px;
  height: 200px;
  resize: none;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid rgba(1, 38, 74, 0.88);
}
.text__area_input:focus {
  border: 2px solid #0074e4;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #a1a1a1; */
}

.btnTabLogsPost {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #0074e4;
  color: #fff;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnCancelPost {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: #ff6e6e;
  color: #fff;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.trashImage {
  color: #ff6e6e;
  cursor: pointer;
}

.exit {
  width: 60px;
  height: 60px;
  font-size: 50px;
  background-color: transparent;
  border: none;
  top: 4rem;
  right: 13rem;
  position: fixed;
  color: #fff;
}

.selectDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.selectDiv select {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(1, 38, 74, 0.88);
  color: rgba(1, 38, 74, 0.88);
}

.titleAndCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#subject {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(1, 38, 74, 0.88);
  color: rgba(1, 38, 74, 0.88);
}
#subject:focus {
  border: 2px solid #0074e4;
  outline: none;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media only screen and (max-width: 600px) {
  .main__post__body {
    width: 90%;
  }

  .text__area_input {
    width: 350px;
    height: 100px;
  }
  .exit {
    font-size: 40px;
    right: 2rem;
  }
  .btnTabLogsPost {
    margin-left: 100px;
  }
}
